extends: default

rules:
  line-length:
    max: 120
    level: warning

  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false

  document-start: disable

  truthy:
    allowed-values: ["true", "false", "yes", "no", "on", "off"]
    check-keys: false

  trailing-spaces: disable

  new-line-at-end-of-file: disable

  comments:
    min-spaces-from-content: 1

  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
